h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.add_book {
  display: flex;
  justify-content: center; 
  
}

.add_book button {
  border-radius: 20px;
  width: 140px;
  height: 50px;
  border-style: none;  
  cursor: pointer;
  
}

form {
  /* background-color: orange; */
  text-align: center;
  /* display: flex; */
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: auto;
  display: none;
  margin-top: 5px;
}

form div {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  width: 30%;

}

form > div {
/*   background-color: pink; */
  text-align: left;
}

input {
  width: 100%;
  height: 20px;
}

#submit {
    /* width: 60%; */
    height: 26px;
}

.cards_container {
  width: 90%;
  margin: auto;
  margin-top: 25px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); 
  gap: 5px;
}

.container_border {
  width: 90%;
  height: 71vh;
  border: 2px dotted orange;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.new_card_container {
  width: 90%;
  border: 2px dotted orange;
}

h3 {
  font-size: 1.5rem;
  text-align: center;  
}

.card {
  background-color: orange;
  height: 200px;
  
}

button[type=submit] {
  cursor: pointer;
}

/* bottom space between cards is too much try fix that */